.instructions {
  font-size: 1.2rem;
}

.train-container {
  min-height: 80vh;
  padding: 2rem;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phrase-box {
  width: 60vw;
  height: 40vh;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
  font-size: 1.5rem;
  border: 0.15rem solid #ccc;
  border-radius: 1rem;
}

.success-message {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 50vw;
  height: 50vh;
  background-color: #f9f9f9;
  border: 0.15rem solid #ccc;
  border-radius: 1rem;
  animation: fadeIn 0.5s ease-out; /* Smooth entrance */
}

.record-button,
.stop-button,
.next-button,
.dashboard-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* Space between icon and text */
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 555;
  border: none;
  width: auto;
  transition: all 0.3s ease;
  margin: 0.8rem 1rem;
  padding: 0.8rem 1.5rem;
}

.record-button:hover,
.stop-button:hover,
.next-button:hover,
.dashboard-button:hover {
  transform: translateY(-0.125rem);
}

.record-button {
  background: #8b5cf6;
  color: #ffffff;
  box-shadow: 0 0.25rem 0.875rem 0 rgba(139, 92, 246, 0.39);
}

.record-button:hover {
  background: #7c3aed;
  box-shadow: 0 0.375rem 1.25rem rgba(139, 92, 246, 0.45);
}

.stop-button {
  background: #ff5f5f;
  color: #ffffff;
  box-shadow: 0 0.25rem 0.875rem 0 rgba(239, 68, 68, 0.39);
}

.stop-button:hover {
  background: #e53939;
  box-shadow: 0 0.375rem 1.25rem rgba(239, 68, 68, 0.45);
}

.next-button {
  background: #2ecc71;
  color: #ffffff;
  box-shadow: 0 0.25rem 0.875rem 0 rgba(16, 185, 129, 0.39);
}
.next-button:hover {
  background: #16a34a;
  box-shadow: 0 0.375rem 1.25rem rgba(16, 185, 129, 0.45);
}
.icon-celebration {
  margin-bottom: 1rem;
  animation: popIn 0.5s ease-out;
}
@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .phrase-box {
    width: 90vw;
    height: 30vh;
    font-size: 1.2rem;
  }

  .success-message {
    width: 80vw;
    height: auto;
    font-size: 1.2rem;
  }
}

.dashboard-button {
  background: #e0e0e0;
  color: rgb(27, 27, 27);
  margin-top: 1.5rem;
}

.dashboard-button:hover {
  background: #cfcfcf;
  box-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.15);
}

.success-message p,
h2 {
  margin: 0.5rem 0;
}

.next-button span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
