.back-link {
  cursor: pointer;
  width: auto;
  margin: 0.8rem 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: #bf94e5;
}

.back-link:hover {
  background: #f3eaff;
  color: #a754f0;
}

.profile-container {
  max-width: 43.75rem;
  margin: 0 auto; /* Centers the container on the screen */
  padding: 2.5rem 1.25rem;
}

.recording-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 32rem;
  margin: 1rem auto; /* Centers the list */
  padding: 1rem;
  background: #f3f0ff;
  border-radius: 1rem;
}

h1,
p {
  text-align: center;
}

p {
  font-size: 1.1rem;
}
