body {
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

form {
  width: 100%;
  max-width: 320px;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

form h2 {
  text-align: center;
}

input {
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #a9a8a8;
}

input:hover {
  border-color: #979696;
  box-shadow: 0 0 0 1.1px #979696;
}

input:focus {
  outline: 1px solid #a754f0;
  box-shadow: 0 0 0 1.1px #a754f0;
}

button {
  margin-top: 0.5rem;
  height: 2.6rem;
  width: 100%;
  background-color: #bf94e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a678d1;
}

button:focus {
  outline: 1px solid #882cd9;
  box-shadow: 0 0 0 1.5px #882cd9;
}

form p {
  text-align: center;
  margin-top: 1rem;
  color: rgb(97, 96, 96);
}

form label {
  margin-bottom: 0.3rem;
  display: block;
}

.auth-link {
  color: #882cd9;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}

.auth-link:visited {
  color: #6322b3;
}

.auth-link:active {
  color: #37078b;
}
