body {
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

form {
  width: 100%;
  max-width: 320px;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

form h2 {
  text-align: center;
}

input {
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

button {
  margin-top: 0.5rem;
  height: 2.6rem;
  width: 100%;
  background-color: #bf94e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #a678d1;
}

form p {
  text-align: center;
  margin-top: 1rem;
  color: rgb(97, 96, 96);
}

.auth-link {
  color: #882cd9;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}

.auth-link:visited {
  color: #6322b3;
}

.auth-link:active {
  color: #37078b;
}
